html,
body,
div,
span,
iframe,
h1,
h2,
h3,
p,
a,
address,
code,
img,
s,
small,
strong,
var,
i,
center,
ul,
li,
form,
label,
tr,
td,
article,
details,
header,
menu,
nav,
output,
time,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input[type="submit"] {
  -webkit-appearance: none;
}

html {
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  overflow: hidden;
  background: #fff;
  font-family: open sans, sans-serif;
  color: #676767;
  position: relative;
}


ul {
  list-style: none;
}

input[type="text"]::-ms-clear {
  display: none;
}

p:empty {
  display: none;
}

article,
details,
header,
menu,
nav {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --scroll-bar-w: -2px;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 880px;
}

.row {
  position: relative;
}


header .row {
  margin-left: 0;
  margin-right: 0;
}

.row:after,
.col:after,
.group:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.row {
  padding-bottom: 24px;
}

@media (min-width: 690px) {

  .span_3 {
    width: 23.5%;
  }

  .span_4 {
    width: 32%;
  }

  .span_5 {
    width: 40.5%;
  }

  .span_7 {
    width: 57.5%;
  }

  .span_9 {
    width: 74.5%;
  }

  .span_12 {
    width: 100%;
  }
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-family: open sans;
  font-weight: 400;
  line-height: 26px;
}

body:not(.nectar-no-flex-height) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body:not(.nectar-no-flex-height) #ajax-content-wrap,
body:not(.nectar-no-flex-height) .ocm-effect-wrap,
body:not(.nectar-no-flex-height) .ocm-effect-wrap-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

p {
  -webkit-font-smoothing: antialiased;
}

.screen-reader-text,
.nectar-skip-to-content:not(:focus) {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

#header-outer .screen-reader-text {
  height: 1px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.col.center {
  text-align: center;
}

.col.right {
  text-align: right;
}


td {
  font-weight: 400;
  text-align: left;
}

a {
  color: #3555ff;
  text-decoration: none;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
}

a:hover {
  color: inherit;
}

h1 {
  font-size: 54px;
  line-height: 62px;
  margin-bottom: 7px;
}

h2 {
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 7px;
}

h3 {
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 7px;
}

h1,
h2,
h3 {
  color: #444;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  font-family: open sans;
  font-weight: 600;
}


strong {
  font-family: open sans;
  font-weight: 600;
}

body h1.light,
body h2.light,
body h3.light,
p.light {
  text-transform: none;
  font-weight: 300;
}

h1.light {
  font-size: 34px;
  margin-bottom: 30px;
}

h2.light {
  font-size: 28px;
  margin-bottom: 30px;
}

h3.light {
  font-size: 24px;
  margin-bottom: 15px;
}

p {
  padding-bottom: 27px;
}

.row .col p:last-child {
  padding-bottom: 0;
}

.container .row:last-child {
  padding-bottom: 0;
}

ul {
  margin-left: 30px;
  margin-bottom: 30px;
}

li ul {
  margin-bottom: 0;
}

ul li {
  list-style: disc;
  list-style-position: outside;
}


#header-outer nav > ul,
#footer-outer ul,
#slide-out-widget-area ul,
#search-outer ul {
  margin: 0;
}


#header-outer ul li,
#footer-outer ul li,
#search-outer ul li,
#slide-out-widget-area ul li {
  list-style: none;
}

.light h1,
.light h2,
.light h3,
.light p {
  color: #fff;
}

code {
  display: block;
  clear: both;
  overflow: auto;
  padding: 1.6em;
  margin-bottom: 1.6em;
  white-space: pre;
  background-color: #f0f0f0;
  font: 14px andale mono, Courier, courier new, monospace;
}

.row .col h3 {
  margin-bottom: 8px;
}

.row .col img {
  margin-bottom: 15px;
  max-width: 100%;
  height: auto;
}

.row .col img:not([srcset]) {
  width: auto;
}

@keyframes spinning_animation {
  0% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(0.8) rotate(360deg);
  }

  100% {
    transform: scale(1) rotate(720deg);
  }
}

@-webkit-keyframes spinning_animation {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
  }

  50% {
    -webkit-transform: scale(0.8) rotate(360deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(720deg);
  }
}

@keyframes bounce_in_animation {
  0% {
    transform: scale(0, 0);
  }

  20% {
    transform: scale(1.4, 1.4);
  }

  50% {
    transform: scale(0.8, 0.8);
  }

  85% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes bounce_in_animation {
  0% {
    -webkit-transform: scale(0, 0);
  }

  20% {
    -webkit-transform: scale(1.4, 1.4);
  }

  50% {
    -webkit-transform: scale(0.8, 0.8);
  }

  85% {
    -webkit-transform: scale(1.1, 1.1);
  }

  100% {
    -webkit-transform: scale(1, 1);
  }
}

#header-space {
  height: 90px;
  background-color: #fff;
}

#header-outer {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding: 28px 0 0;
  background-color: #fff;
  z-index: 9999;
  overflow: visible;
}

#header-outer[data-box-shadow="small"],
body.material[data-hhun="1"]
  #header-outer[data-header-resize="0"][data-box-shadow="small"][data-remove-fixed="0"]:not(
    .transparent
  ):not(.invisible),
body.material[data-hhun="1"]
  #header-outer[data-header-resize="0"][data-box-shadow="small"][data-remove-fixed="1"]:not(
    .transparent
  ) {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
}

#header-outer[data-box-shadow="large"],
body.material[data-hhun="1"]
  #header-outer[data-header-resize="0"][data-box-shadow="large"][data-remove-fixed="0"]:not(
    .transparent
  ):not(.invisible),
body.material[data-hhun="1"]
  #header-outer[data-header-resize="0"][data-box-shadow="large"][data-remove-fixed="1"]:not(
    .transparent
  ) {
  box-shadow: 0 3px 45px rgba(0, 0, 0, 0.15);
}

#top #logo {
  width: auto;
  max-width: none;
  line-height: 22px;
  font-size: 22px;
  letter-spacing: -1px;
  color: #444;
  font-family: open sans;
  font-weight: 600;
  align-self: center;
}

#top #logo:hover,
#top #logo:focus {
  color: #000;
}

#top #logo img {
  text-indent: -9999px;
  max-width: none;
  width: auto;
  margin-bottom: 0;
  display: block;
  transition: opacity 0.4s ease;
}

#header-outer[data-transparent-header="true"] #top #logo img.stnd {
  position: relative;
}

#top {
  position: relative;
  z-index: 9998;
  width: 100%;
}

#top .container .row {
  padding-bottom: 0;
}

#top nav > ul {
  overflow: visible;
  transition: padding 0.8s ease, margin 0.25s ease;
  min-height: 1px;
  line-height: 1px;
}

body:not(.ascend) #top nav > .buttons {
  margin-left: 15px;
}

body
  #header-outer[data-full-width="false"][data-has-buttons="no"]:not(
    [data-format="left-header"]
  )
  #top
  nav
  > .buttons {
  margin-left: 0;
}

#top nav > .buttons {
  transition: padding 0.8s ease;
}

#top nav > ul .slide-out-widget-area-toggle {
  transition: margin 0.25s ease;
}

#header-outer #top nav > .buttons {
  right: 0;
  height: 100%;
  overflow: hidden;
}

body #header-outer[data-using-pr-menu="true"] #top nav > .buttons {
  display: block;
  overflow: visible;
}

body.material #header-outer[data-using-pr-menu="true"] #top nav > .buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.woocommerce #header-outer .cart-notification .item-name,
#header-outer .woocommerce-page .cart-notification .item-name {
  color: #999;
}

#top nav ul li {
  float: right;
}

#top nav > ul > li {
  float: left;
}

#top nav > ul > li > a {
  padding: 0 10px;
  display: block;
  color: #676767;
  font-size: 14px;
  line-height: 20px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

#header-outer[data-lhe="animated_underline"] #top nav > ul > li > a {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

body #header-outer[data-full-width="true"] #top nav > .buttons {
  margin-left: 0;
}


#top .slide-out-widget-area-toggle[data-custom-color="true"] a:before {
  display: block;
  position: absolute;
  left: 0;
  padding-bottom: 10px;
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
  width: 100%;
  height: 24px;
  content: " ";
  z-index: -1;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

body
  #header-outer
  .slide-out-widget-area-toggle[data-custom-color="true"]
  .lines:before {
  top: 6px;
}

body
  #header-outer
  .slide-out-widget-area-toggle[data-custom-color="true"]
  .lines:after {
  top: -6px;
}

#header-outer:not([data-format="centered-menu-under-logo"]):not(
    [data-format="centered-menu-bottom-bar"]
  )
  #top
  nav
  > ul
  > li[class*="button_"]
  > a:before,
#header-outer:not([data-format="centered-menu-under-logo"]):not(
    [data-format="centered-menu-bottom-bar"]
  )
  #top
  .slide-out-widget-area-toggle[data-custom-color="true"]
  a:before {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}

body[data-header-search="false"][data-full-width-header="false"]
  #header-outer[data-lhe="animated_underline"][data-format="default"][data-cart="false"]
  #top
  nav
  > ul
  > li:last-child
  > a {
  margin-right: 0;
}

#header-outer #top .slide-out-widget-area-toggle[data-custom-color="true"] a {
  padding: 0 18px;
  display: block;
  position: relative;
}

#header-outer
  #top
  nav
  .slide-out-widget-area-toggle[data-custom-color="true"]:not(.mobile-icon)
  a:not(.using-label) {
  width: 22px;
}

#header-outer[data-lhe="animated_underline"] #top nav > ul > li > a {
  padding-left: 0;
  padding-right: 0;
  margin-right: 10px;
  margin-left: 10px;
}

#top nav ul li a,
body[data-header-color="light"]
  .span_9
  > .slide-out-widget-area-toggle
  a
  .label {
  color: #999;
}

.sf-menu {
  line-height: 1;
  float: left;
  margin-bottom: 30px;
}

.sf-menu ul li {
  font-weight: 400;
  width: 100%;
}

#header-outer .sf-menu > li:hover > ul {
  top: 100%;
}

.sub-menu {
  z-index: 3;
}

.sf-menu:not(.buttons) a:focus {
  outline: 0;
}

.sf-menu ul li a {
  margin: 0;
}

.sf-menu,
.sf-menu * {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.sf-menu {
  line-height: 1;
}

.sf-menu ul {
  position: absolute;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.sf-menu ul li,
.sf-menu ul li li {
  font-size: 12px;
  width: 100%;
}

.sf-menu .menu-item a {
  outline: 0;
}

.sf-menu li {
  float: left;
  outline: 0;
  line-height: 0;
  font-size: 12px;
  position: relative;
}

.sf-menu a {
  display: block;
  position: relative;
  text-decoration: none;
}

.sf-menu li:hover > ul {
  z-index: 999;
  pointer-events: all;
}

.sf-menu li li:hover ul,
.sf-menu li li li:hover ul {
  left: 20em;
  top: 0;
}

.sf-menu .sf-with-ul a {
  min-width: 1px;
}

#header-outer .sf-menu li ul li a {
  font-size: 12px;
  line-height: 13px;
  transition: none;
  letter-spacing: 0;
}

.sf-menu li ul li a,
.sf-menu li ul li li a {
  box-shadow: none;
}

.sf-menu ul li a,
.sf-menu ul li li a {
  border-radius: 0 0 0 0;
  box-shadow: none;
  text-shadow: none;
}

#top .span_9 {
  position: static;
}

#header-outer nav > ul > .megamenu {
  position: inherit;
}

#header-outer nav > ul > .megamenu > .sub-menu {
  width: 100%;
  left: 0;
  padding: 15px 0;
  display: table;
  background-color: #1c1c1c;
}

#header-outer nav > ul > .megamenu.nectar-megamenu-menu-item > .sub-menu,
#header-outer nav > ul > .nectar-megamenu-menu-item > .sub-menu {
  display: flex;
}

#header-outer nav > ul > .megamenu.nectar-megamenu-menu-item > .sub-menu {
  padding: 0;
}

#header-outer nav > ul > .megamenu.nectar-megamenu-menu-item > .sub-menu > li {
  padding: 20px;
}

#header-outer nav > ul > .megamenu.nectar-megamenu-menu-item > ul > li {
  width: auto;
  display: block;
  flex: 1;
}

#header-outer
  nav
  > ul
  > .megamenu.nectar-megamenu-menu-item[class*="align-"]:not(.width-100)
  > ul {
  left: auto;
}

#header-outer nav > ul > .megamenu.nectar-megamenu-menu-item > ul,
#header-outer nav > ul > .megamenu.nectar-megamenu-menu-item > ul > li {
  background-size: cover;
  background-position: center;
}

#header-outer nav > ul > .megamenu.nectar-megamenu-menu-item > ul {
  overflow: hidden;
}

body[data-megamenu-width="full-width"]
  #header-outer
  #top
  .sf-menu
  > .megamenu.nectar-megamenu-menu-item.width-100
  > ul {
  border-radius: 0;
}

#header-outer nav > ul > .megamenu > .sub-menu {
  display: table;
}

#header-outer nav > ul > .megamenu > .sub-menu {
  padding: 30px 0;
}

#header-outer nav > ul > .megamenu > ul > li {
  padding: 0 0 0 30px;
  border: none;
}

#top nav > ul > li > ul > li,
#header-outer .widget_shopping_cart .buttons {
  opacity: 0;
  transition: transform 0.65s cubic-bezier(0.2, 0.8, 0.25, 1),
    opacity 0.65s cubic-bezier(0.2, 0.8, 0.25, 1);
  -webkit-transition: transform 0.65s cubic-bezier(0.2, 0.8, 0.25, 1),
    opacity 0.65s cubic-bezier(0.2, 0.8, 0.25, 1);
}


#header-outer .widget_shopping_cart {
  display: block !important;
}

#header-outer nav > ul > .megamenu > ul > li:last-child {
  padding-right: 30px;
}

[data-megamenu-width="full-width"]
  #top
  nav
  > ul
  > .megamenu:not(.width-50):not(.width-75)
  > ul
  > li {
  padding-right: 30px;
  padding-left: 0;
}

[data-megamenu-width="full-width"]
  #top
  nav
  > ul
  > .megamenu:not(.width-50):not(.width-75)
  > ul
  > li:last-child {
  padding-right: 0;
  padding-left: 0;
}

#header-outer nav > ul > .megamenu > ul > li > ul {
  margin: 0;
  padding: 0;
}

#top nav > ul > .megamenu > ul > li {
  width: 33.33%;
}

#top nav > ul > .megamenu > ul > li {
  display: table-cell;
  float: none;
}

#header-outer nav > ul > .megamenu > ul > li ul {
  display: block;
  top: 0 !important;
  width: 100%;
  opacity: 1 !important;
  left: 0 !important;
  box-shadow: none;
  position: relative;
}

#header-outer nav > ul > .megamenu ul li {
  float: none;
}

#header-outer nav > ul > .megamenu ul li a {
  border-bottom: none;
  padding: 9px 15px;
}

body:not([data-header-format="left-header"])
  #header-outer
  nav
  > ul
  > .megamenu
  > ul
  > li
  > a {
  color: #444;
}

#header-outer nav > ul > .megamenu > .sub-menu > li a,
body #header-outer nav > ul > .megamenu > .sub-menu > li a,
body #header-outer nav > ul > .megamenu > .sub-menu > li > a,
#header-outer nav > ul > .megamenu > ul > li > a:hover,
body:not([data-header-format="left-header"])
  #header-outer
  nav
  > ul
  > .megamenu
  > ul
  > li
  > a {
  background-color: transparent !important;
}


#top .sf-menu li ul li a {
  background-color: transparent;
}

.sf-menu > li > ul {
  opacity: 0;
  pointer-events: none;
  display: block;
  transform: translateY(-9999px);
  box-shadow: 0 6px 28px rgba(0, 0, 0, 0.08);
}

.sf-menu > li ul {
  padding: 20px;
  width: 20em;
}

.sf-menu > li ul a,
#header-outer nav > ul > .megamenu ul li a {
  padding: 6px;
}

body[data-header-color="light"]:not([data-header-format="left-header"])
  #header-outer:not(.transparent)
  .sf-menu
  > li
  ul {
  border-top: 1px solid #e9e9e9;
}

#header-outer[data-box-shadow="none"]:not(.transparent)
  .sf-menu
  > li:not(.megamenu)
  ul {
  border-top: none;
}

#header-outer .cart-outer .cart-notification {
  top: 100%;
}

#header-outer .widget_shopping_cart {
  -webkit-transition: none;
  transition: none;
  opacity: 0;
  pointer-events: none;
}


body:not([data-header-format="left-header"]) #top .sf-menu li ul,
#header-outer nav > ul > .megamenu > .sub-menu,
#header-outer .cart-notification,
#header-outer .widget_shopping_cart_content {
  background-color: #fff;
}

#header-outer .cart-outer .widget_shopping_cart > .widgettitle {
  display: none;
}

#header-outer .widget_shopping_cart,
.woocommerce .cart-notification,
#header-outer .cart-notification {
  box-shadow: 0 6px 28px rgba(0, 0, 0, 0.08);
}

#header-outer .widget_shopping_cart a.button:hover {
  background-color: #333 !important;
}

#header-outer .sf-menu li ul li a,
#header-outer .cart-notification {
  color: #999;
}

#top nav > ul > .megamenu:hover ul li {
  pointer-events: auto;
}

.sf-menu .megamenu li ul {
  -webkit-transform: none;
  transform: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#header-outer #top .sf-menu .megamenu li ul,
[data-header-color="light"]
  #header-outer:not(.transparent)
  .sf-menu
  > .megamenu
  li
  ul {
  border-top: 0;
}

.sf-menu li li ul {
  display: block;
  visibility: visible;
  top: 0 !important;
  z-index: auto;
  left: 20em;
  margin-left: -20px;
  margin-top: -20px;
  -webkit-transition: transform 0.25s, opacity 0.25s;
  transition: transform 0.25s, opacity 0.25s;
  box-shadow: 0 19px 35px rgba(0, 0, 0, 0.11);
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate3d(25px, 0, 0);
  transform: translate3d(25px, 0, 0);
}

body[data-header-color="light"]
  #header-outer:not(.transparent)
  .sf-menu
  > li:not(.megamenu)
  li
  ul,
body[data-header-color="custom"]
  #header-outer:not(.transparent)
  .sf-menu
  > li:not(.megamenu)
  li
  ul {
  margin-top: -21px;
}


body[data-header-color="light"] .sf-menu > li:not(.megamenu) li ul,
body[data-header-color="light"]
  #header-outer[data-box-shadow="none"]:not(.transparent)
  .sf-menu
  > li:not(.megamenu)
  li
  ul,
body[data-header-color="custom"]
  #header-outer[data-box-shadow="none"]:not(.transparent)
  .sf-menu
  > li:not(.megamenu)
  li
  ul {
  margin-top: -20px;
}

.sf-menu ul li a {
  border-bottom: 0;
}

#header-outer:not([data-header-resize="1"]):not([data-format="left-header"])
  #logo
  img {
  transition: opacity 0.2s ease;
}

#header-outer[data-header-resize="1"]:not([data-format="left-header"]) #logo {
  transition: margin 0.32s ease, color 0.32s ease;
}

#header-outer[data-header-resize="1"]:not([data-format="left-header"])
  #logo
  img {
  transition: height 0.32s ease, opacity 0.2s ease;
}

#header-outer[data-header-resize="1"]:not([data-transparent-header="true"]):not(
    [data-format="left-header"]
  )
  #logo {
  transition: margin 0.15s ease;
}

#header-outer[data-header-resize="1"]:not([data-transparent-header="true"]):not(
    [data-format="left-header"]
  )
  #logo
  img {
  transition: height 0.15s ease, opacity 0.2s ease;
}

body[data-hhun="0"]
  #header-outer[data-header-resize="0"]:not([data-transparent-header="true"]) {
  transition: box-shadow 0.42s ease, opacity 0.3s ease, transform 0.32s ease;
}

#header-outer[data-using-secondary="1"]:not([data-format="left-header"]) {
  transition: transform 0.32s ease, background-color 0.3s ease 0s,
    box-shadow 0.3s ease 0s, margin 0.25s ease;
}

@media only screen and (min-width: 1000px) {
  #header-outer:not([data-format="left-header"]) {
    padding-top: 0;
  }

  #header-outer:not([data-format="left-header"]) #top > .container > .row,
  #header-outer:not([data-format="left-header"]) #top > .container > .row nav,
  #header-outer:not([data-format="left-header"])
    #top
    > .container
    > .row
    nav
    > ul,
  #header-outer:not([data-format="left-header"])
    #top
    > .container
    > .row
    nav
    > ul
    > li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  #header-outer:not([data-format="left-header"]) #top .span_9,
  #header-outer:not([data-format="left-header"]) #top .span_3 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: none;
    width: auto;
  }

  #header-outer[data-format="default"] #top .span_9 {
    margin-left: auto;
  }

  #header-outer:not([data-format="left-header"]) #top nav > .buttons {
    overflow: visible;
    height: auto;
  }

  #header-outer:not([data-format="left-header"]) #top nav > ul > li {
    -webkit-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #header-outer:not([data-format="left-header"]) #top nav > ul {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  #header-outer #top > .container > .row .right-aligned-menu-items nav {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 999px) {
  #top .col.span_9 {
    text-align: right;
    line-height: 0;
  }

  #top .span_9 > .slide-out-widget-area-toggle > div,
  #header-outer #top #mobile-cart-link i {
    position: relative;
    display: block;
    top: 50%;
    font-size: 18px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent;
  }

  #top .span_9 > .slide-out-widget-area-toggle,
  #top #mobile-cart-link,
  #top .mobile-search {
    position: relative;
    width: auto;
    padding: 0 7px;
    top: auto;
    right: auto;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    height: 100%;
    -webkit-transform: none;
    transform: none;
  }

  body[data-slide-out-widget-area-style="slide-out-from-right"].material
    a.slide_out_area_close:before,
  body[data-slide-out-widget-area-style="slide-out-from-right"]
    .slide_out_area_close:before {
    background-color: rgba(0, 0, 0, 0.06);
  }

  #header-outer[data-cart="true"] #top .span_9 > .slide-out-widget-area-toggle,
  #header-outer[data-cart="true"] #top #mobile-cart-link,
  #top .mobile-search {
    padding: 0 8px;
  }

  #header-outer[data-cart="true"]
    #top
    .row
    .span_9
    > .slide-out-widget-area-toggle,
  #top .span_9 > .slide-out-widget-area-toggle {
    padding-right: 0;
  }

  #search-outer #search #close a:before,
  body.material #header-outer #search-outer #search #close a:before {
    height: 28px;
    width: 28px;
    margin: -14px 0 0 -14px;
  }

  .material #search-outer #search #close a span {
    font-size: 13px;
    height: 13px;
    line-height: 13px;
    top: 6px;
  }

  #search-outer #search #close a span {
    font-size: 16px;
    height: 16px;
    line-height: 16px;
  }

  #search-outer #search #close a {
    height: 14px;
  }

  #search-outer #search #close,
  body.material #header-outer #search-outer #search #close {
    top: 0;
    right: -5px;
  }

  #search-outer #search #close a,
  body.material #header-outer #search-outer #search #close a {
    right: 8px;
    top: 9px;
  }
}

@media only screen and (max-width: 999px) {
  .slide-out-widget-area-toggle.mobile-icon a > span > .hover-effect {
    display: none;
  }
}

#top nav ul #search-btn a span,
#top nav ul #search-btn a,
#top nav ul .slide-out-widget-area-toggle a {
  line-height: 20px;
  height: 20px;
}

#top nav ul .slide-out-widget-area-toggle a .label {
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  line-height: 1em;
  font-size: 14px;
}

#top nav .buttons li {
  line-height: 12px;
  position: relative;
}

#top nav .buttons .menu-item a {
  position: relative;
}

#header-outer .cart-menu .cart-icon-wrap i {
  line-height: 18px;
}

#header-outer:not([data-format="left-header"]) .cart-menu .cart-icon-wrap {
  width: auto;
  height: 20px;
}

#top nav ul #search-btn a,
#top nav ul .slide-out-widget-area-toggle a {
  padding: 0;
  width: 24px;
  text-align: center;
  display: block;
  background-position: right top;
  background-repeat: no-repeat;
  box-sizing: content-box;
}

#top nav ul[data-user-set-ocm="off"] .slide-out-widget-area-toggle,
body.material
  #header-outer:not([data-format="left-header"])
  #top
  > .container
  > .row
  nav
  > ul[data-user-set-ocm="off"]
  > .slide-out-widget-area-toggle {
  display: none;
}


#top nav ul #search-btn a span {
  top: 0;
  background-color: transparent;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

#top nav ul .slide-out-widget-area-toggle a i.label {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

#header-outer ul.sf-menu > li.menu-item-has-icon > a {
  display: flex;
  align-items: center;
}


#header-outer header .nectar-menu-icon {
  margin-right: 10px;
  top: 0;
  line-height: inherit;
  display: inline-block;
}

#header-outer header .nectar-menu-icon {
  font-size: 16px;
  top: -1px;
  vertical-align: middle;
}

#header-outer
  header
  .sf-menu
  > li.nectar-regular-menu-item
  > a
  > .nectar-menu-icon {
  transition: color 0.2s ease;
}

#header-outer header .nectar-menu-item-with-icon,
#slide-out-widget-area .menu-item-has-icon > a {
  display: flex;
  align-items: flex-start;
}

.off-canvas-menu-container .nectar-menu-icon {
  font-size: inherit;
  top: 0;
  margin-right: 10px;
}

.off-canvas-menu-container .sub-menu .nectar-menu-icon {
  transform: none;
  margin-right: 10px;
}

#top #mobile-cart-link,
#top .mobile-search {
  display: none;
  text-align: right;
  z-index: 10000;
}

#top .span_9 > .slide-out-widget-area-toggle {
  display: none;
  z-index: 10000;
}

#top #mobile-cart-link i {
  background-color: transparent;
  color: #a9a9a9;
  line-height: 34px;
  font-size: 18px;
  width: 18px;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}

#header-outer #mobile-cart-link .cart-wrap span {
  border-radius: 50%;
  height: 16px;
  width: 16px;
  text-align: center;
  line-height: 16px;
  font-size: 10px;
  display: block;
  visibility: hidden;
}

#header-outer #mobile-cart-link .cart-wrap {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: -1px;
  color: #fff;
}

#header-outer[data-full-width="true"][data-cart="true"]
  #top
  nav
  ul
  .slide-out-widget-area-toggle {
  position: relative;
}


body[data-bg-header="true"][data-header-search="true"]
  #header-outer[data-has-menu="false"]
  #top
  nav
  ul
  #search-btn
  a:after {
  border: none;
  display: none;
}

.lines-button.x2.close .lines,
.sf-menu .megamenu li ul,
#header-outer .sf-menu .megamenu ul .sub-menu {
  background-color: transparent !important;
}

#header-outer[data-transparent-header="true"] #logo .dark-version {
  position: absolute;
}

body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  .slide-out-widget-area-toggle:not([data-custom-color="true"]):not(
    .mobile-icon
  )
  a:not(.using-label)
  .lines,
body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  .slide-out-widget-area-toggle:not([data-custom-color="true"]):not(
    .mobile-icon
  )
  a:not(.using-label)
  .lines:before,
body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  .slide-out-widget-area-toggle:not([data-custom-color="true"]):not(
    .mobile-icon
  )
  a:not(.using-label)
  .lines:after {
  height: 4px;
  width: 2.1rem;
  border-radius: 1px;
}

body[data-header-search="false"]:not(.mobile)
  #header-outer[data-has-menu="false"][data-cart="false"]
  .lines-button {
  line-height: 0;
  font-size: 0;
}

body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  .lines-button.close {
  -webkit-transform: none;
  transform: none;
}

body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  #top
  nav
  ul
  .slide-out-widget-area-toggle:not([data-custom-color="true"])
  a:not(.using-label) {
  width: 34px;
}

body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  .slide-out-widget-area-toggle:not([data-custom-color="true"]):not(
    .mobile-icon
  )
  a:not(.using-label)
  .lines:before {
  top: 9px;
}

body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  .slide-out-widget-area-toggle:not([data-custom-color="true"]):not(
    .mobile-icon
  )
  a:not(.using-label)
  .lines:after {
  top: -9px;
}

#search-outer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10000;
  overflow: visible;
  display: none;
  background-color: #fff;
}

#search-box {
  position: relative;
}

#search-outer .container {
  overflow: visible;
  width: 100%;
}

#search-outer #search input[type="text"] {
  width: 100%;
  color: #888;
  font-size: 43px;
  line-height: 43px;
  position: relative;
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-transition: none;
  transition: none;
  box-shadow: none;
  font-family: open sans;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#search-outer > #search form {
  width: 92%;
  float: left;
}

#search-outer #search #close {
  list-style: none;
}

#search-outer #search #close a {
  position: absolute;
  right: 0;
  top: 24px;
  display: block;
  width: 24px;
  height: 17px;
  line-height: 22px;
  z-index: 10;
}

#search-outer #search #close a span:not(.close-line) {
  color: #a0a0a0;
  font-size: 18px;
  height: 20px;
  line-height: 19px;
  background-color: transparent;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

#search-outer > #search #close a:hover span {
  color: #000;
}

#header-outer #search {
  position: relative;
}

#header-outer .row .col.span_3,
#header-outer .row .col.span_9 {
  width: auto;
}

#header-outer .row .col.span_9 {
  float: right;
}

#header-outer[data-full-width="true"] header > .container {
  width: 100%;
  max-width: 100%;
  padding: 0 28px;
}

body[data-hhun="1"] #header-outer[data-remove-fixed="1"] {
  position: absolute;
}

@media only screen and (min-width: 1000px) {
  body[data-hhun="1"]:not(.no-scroll)
    #header-outer[data-remove-fixed="1"]:not(.detached),
  body[data-hhun="1"]:not(.no-scroll)
    #header-outer[data-remove-fixed="1"][data-permanent-transparent="false"][data-using-secondary="1"] {
    top: 0;
  }
}

@media only screen and (max-width: 1000px) {
  body[data-hhun="1"] #header-outer {
    transition: transform 0.3s ease, height 0.3s ease, background 0.3s ease,
      opacity 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  }
}

@keyframes row_bg_zoom_out {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.col {
  position: relative;
  float: left;
}


.col.center img {
  margin-left: auto;
  margin-right: auto;
}

.col.span_3 .col.span_12 i,
.col.span_4 .col.span_12 i {
  margin-bottom: 0;
}


iframe {
  max-width: 100%;
}

video {
  visibility: hidden;
}

.btn {
  padding: 8px 16px;
}

@keyframes portSliderLine {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes portSliderLine2 {
  0% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

@keyframes ctaArrowSVGStart {
  0% {
    transform: translateY(calc(-50% + 0.5px)) translateX(0) translateZ(0);
  }

  100% {
    transform: translateY(calc(-50% + 0.5px)) translateX(-3px) translateZ(0);
  }
}

@keyframes ctaArrowSVGEnd {
  0% {
    transform: translateY(calc(-50% + 0.5px)) translateX(-3px) translateZ(0);
  }

  100% {
    transform: translateY(calc(-50% + 0.5px)) translateX(0) translateZ(0);
  }
}

@keyframes ctaArrowTextStart {
  0% {
    transform: translateX(6px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes ctaArrowTextEnd {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(6px);
  }
}

@keyframes ctaArrowStart {
  0% {
    stroke-dashoffset: 140px;
    stroke-dasharray: 140px;
  }

  100% {
    stroke-dasharray: 140px;
    stroke-dashoffset: 10px;
  }
}

@keyframes ctaArrowStartTeam {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
  }

  50% {
    stroke-dashoffset: 140px;
    stroke-dasharray: 140px;
  }

  100% {
    stroke-dasharray: 140px;
    stroke-dashoffset: 10px;
  }
}

@keyframes ctaArrowEnd {
  0% {
    stroke-dashoffset: 10px;
    stroke-dasharray: 150px 150px;
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    stroke-dashoffset: -53px;
    stroke-dasharray: 1px 150px;
  }
}

@keyframes ctaArrowLineStart {
  0% {
    transform-origin: left;
    transform: scaleX(1.2) translateY(calc(-50% + 0.5px)) translateZ(0);
  }

  100% {
    transform: scaleX(1) translateY(calc(-50% + 0.5px)) translateZ(0);
  }
}

@keyframes ctaArrowLineEnd {
  0% {
    transform-origin: right;
    transform: scaleX(1) translateY(calc(-50% + 0.5px)) translateZ(0);
  }

  50% {
    transform-origin: right;
    transform: scaleX(0) translateY(calc(-50% + 0.5px)) translateZ(0);
  }

  51% {
    transform-origin: left;
  }

  100% {
    transform: scaleX(1.2) translateY(calc(-50% + 0.5px)) translateZ(0);
    transform-origin: left;
  }
}

i[class*="fa-"],
span[class*="fa-"] {
  display: inline-block;
  word-spacing: 1px;
  position: relative;
  text-align: center;
  top: -2px;
  vertical-align: middle;
  max-width: 100%;
}

i[class*=" icon-"] {
  display: inline-block;
  max-width: 100%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  top: -2px;
  word-spacing: 1px;
}

@-webkit-keyframes pulsate {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(3);
  }
}

@keyframes pulsate {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(3);
  }
}

@keyframes nectarBounceIn {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }

  33% {
    transform: translateY(-13px);
    opacity: 1;
  }

  66% {
    transform: translateY(4px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes nectarBounceIn {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }

  33% {
    transform: translateY(-13px);
    opacity: 1;
  }

  66% {
    transform: translateY(4px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes ctaMinimaLArrowOuter {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(12px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes ctaMinimaLArrowLine {
  0% {
    transform-origin: bottom;
    transform: scaleY(1);
  }

  50% {
    transform-origin: bottom;
    transform: scaleY(0);
  }

  51% {
    transform-origin: top;
  }

  100% {
    transform: scaleY(1);
    transform-origin: top;
  }
}

@keyframes ctaMinimaLArrow {
  0% {
    stroke-dasharray: 45px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 45px;
    stroke-dashoffset: -45px;
  }

  51% {
    stroke-dasharray: 45px;
    stroke-dashoffset: 45px;
  }

  100% {
    stroke-dasharray: 45px;
    stroke-dashoffset: 0;
  }
}

@keyframes down_arrow_bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-14px);
  }

  60% {
    transform: translateY(-7px);
  }
}

@-webkit-keyframes mouse-scroll-btn-roll-over {
  0% {
    stroke-dashoffset: 120;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes mouse-scroll-btn-roll-over {
  0% {
    stroke-dashoffset: 120;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes mouse-scroll-btn-roll-out {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -120;
  }
}

@keyframes mouse-scroll-btn-roll-out {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -120;
  }
}

@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scaleY(1) translateY(-10px);
    transform: scaleY(1) translateY(-10px);
  }

  45% {
    opacity: 0;
    -webkit-transform: scaleY(0.5) translateY(13px);
    transform: scaleY(0.5) translateY(13px);
  }

  46% {
    opacity: 0;
    -webkit-transform: scaleY(1) translateY(-10px);
    transform: scaleY(1) translateY(-10px);
  }

  65%,
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1) translateY(-10px);
    transform: scaleY(1) translateY(-10px);
  }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scaleY(1) translateY(-10px);
    transform: scaleY(1) translateY(-10px);
  }

  45% {
    opacity: 0;
    -webkit-transform: scaleY(0.5) translateY(13px);
    transform: scaleY(0.5) translateY(13px);
  }

  46% {
    opacity: 0;
    -webkit-transform: scaleY(1) translateY(-10px);
    transform: scaleY(1) translateY(-10px);
  }

  65%,
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1) translateY(-10px);
    transform: scaleY(1) translateY(-10px);
  }
}

@keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  45% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  65%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  45% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  65%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes rightLineStart {
  0% {
    transform: translateY(-50%) translateX(-88px) scaleX(0);
  }

  100% {
    transform: translateY(-50%) translateX(0px) scaleX(1);
  }
}

@keyframes rightLineEnd {
  0% {
    transform: translateY(-50%) translateX(0px) scaleX(1);
  }

  100% {
    transform: translateY(-50%) translateX(28px) scaleX(0);
  }
}

@keyframes rightLineStart2 {
  0% {
    transform: translateY(-50%) translateX(88px) scaleX(0);
  }

  100% {
    transform: translateY(-50%) translateX(0px) scaleX(1);
  }
}

@keyframes rightLineEnd2 {
  0% {
    transform: translateY(-50%) translateX(0px) scaleX(1);
  }

  100% {
    transform: translateY(-50%) translateX(-28px) scaleX(0);
  }
}

@keyframes rightArrowStart {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(42px);
  }
}

@keyframes rightArrowEnd {
  0% {
    transform: translateX(42px);
  }

  100% {
    transform: translateX(75px);
  }
}

@keyframes rightArrowStart2 {
  0% {
    transform: translateX(50px) rotate(180deg);
  }

  100% {
    transform: translateX(-42px) rotate(180deg);
  }
}

@keyframes rightArrowEnd2 {
  0% {
    transform: translateX(-42px) rotate(180deg);
  }

  100% {
    transform: translateX(-75px) rotate(180deg);
  }
}

@keyframes rightArrowLineStart {
  0% {
    stroke-dashoffset: 30px;
  }

  100% {
    stroke-dashoffset: 40px;
  }
}

@keyframes rightArrowLineEnd {
  0% {
    stroke-dashoffset: 40px;
  }

  100% {
    stroke-dashoffset: 50px;
  }
}

.post h3.title {
  margin-bottom: 4px;
}

#pagination {
  position: relative;
  margin-bottom: 10px;
  height: 32px;
  width: 100%;
}

#pagination span:not(.page-numbers),
#pagination a:not(.page-numbers) {
  background-color: #333;
}

#pagination span,
#pagination a {
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  padding: 11px 13px 10px !important;
  background-position: -21px center;
  position: relative;
  text-transform: capitalize;
  color: #fff !important;
  transition: all 0.45s cubic-bezier(0.25, 1, 0.33, 1);
  border-radius: 2px;
  font-family: open sans;
  font-weight: 700;
}


body #pagination > a {
  background-color: transparent !important;
  font-size: 12px !important;
  line-height: 14px;
}


body #pagination > a {
  color: inherit !important;
}

body #pagination > a:hover {
  background-color: transparent !important;
}

#pagination > div {
  float: left;
  margin: 0 5px 0 0;
}

#pagination > div:first-child {
  margin-left: 0;
}

#pagination .next a:hover {
  background-color: #000;
}

#pagination span {
  cursor: default;
}

#pagination a,
#pagination span {
  display: inline-block;
}

#pagination .next a {
  text-indent: -9999px;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat !important;
}

#pagination .next a {
  background-image: url(../img/icons/portfolio-arrows.png);
  background-position: -20px 12px;
}

@media only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 144dpi) {
  #pagination .next a {
    background-image: url(../img/icons/portfolio-arrows-2x.png);
    background-size: 40px 9px;
  }
}

#pagination {
  position: relative;
  margin-bottom: 10px;
  height: 32px;
  width: 100%;
}

#footer-outer {
  color: #ccc;
  position: relative;
  z-index: 10;
  background-color: #252525;
}

#footer-outer .row {
  padding: 55px 0;
  margin-bottom: 0;
}

#footer-outer #footer-widgets[data-has-widgets="false"] .row {
  padding: 0;
}

#footer-outer .widget h3 {
  color: inherit;
}

#footer-outer .widget {
  margin-bottom: 30px;
}


#footer-outer .widget.widget_nav_menu ul ul,
#slide-out-widget-area .widget.widget_nav_menu ul ul {
  margin: 0 !important;
  padding: 0 0 0 20px;
}


#footer-outer #footer-widgets .widget.widget_nav_menu li,
#slide-out-widget-area .widget.widget_nav_menu li {
  border-bottom: 0;
  padding: 0 !important;
}


#footer-outer .widget.widget_nav_menu li a {
  padding: 8px 0;
  display: block;
  border-bottom: 1px solid #444;
}

#slide-out-widget-area .widget.widget_nav_menu li a {
  padding: 6px 20px;
  display: block;
}


#footer-outer .widget.widget_nav_menu > ul > li:first-child > a {
  padding-top: 0;
}

#footer-outer .span_3 .widget:last-child {
  margin-bottom: 0;
}

#footer-outer a {
  color: #ccc;
}

#footer-outer a:hover {
  color: #000;
}

#footer-outer .widget ul li {
  margin-bottom: 7px;
}

#footer-outer #copyright {
  padding: 20px 0;
  font-size: 12px;
  background-color: #1c1c1c;
  color: #777;
}

#footer-outer #copyright li {
  float: left;
  margin-left: 20px;
}

#footer-outer #copyright .container div:last-child {
  margin-bottom: 0;
}

#footer-outer #copyright li a {
  display: block;
  line-height: 22px;
  height: 24px;
  position: relative;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  background-position: center top;
}

#footer-outer #copyright li a i {
  color: #777;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

#footer-outer[data-full-width="1"] .container {
  width: 100%;
  padding: 0 28px;
  max-width: none;
}

#footer-outer #copyright li a i:hover {
  color: #000;
}

#footer-outer #copyright p {
  line-height: 22px;
  margin-top: 3px;
}

#footer-outer #copyright .col ul {
  float: right;
}

#footer-outer #copyright li .facebook {
  width: 12px;
}

#footer-outer #copyright li .twitter {
  width: 20px;
}

#footer-outer #copyright li .instagram {
  width: 20px;
}

body #footer-outer i {
  font-size: 20px;
  width: auto;
  background-color: transparent;
}

@media only screen and (min-width: 1000px) {
  #footer-outer[data-full-width="1"]:not([data-cols="1"])
    #copyright:not([data-layout="centered"])
    .col
    ul {
    padding-right: 35px;
  }
}

#footer-outer .col {
  z-index: 10;
  min-height: 1px;
}

#footer-outer[data-cols="1"] #copyright {
  padding: 45px 0;
}

#slide-out-widget-area {
  display: none;
}

#slide-out-widget-area.slide-out-from-right {
  position: fixed;
  transform: translate(301px, 0px);
  -webkit-transform: translate(301px, 0px);
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  z-index: 10000;
  padding: 33px;
  overflow: hidden;
}

#slide-out-widget-area-bg {
  -webkit-backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  height: 1px;
  width: 1px;
  opacity: 0;
  left: 0;
  top: 0;
  z-index: 9996;
}

body[data-full-width-header="true"] .slide_out_area_close {
  display: none;
}

#top nav ul .slide-out-widget-area-toggle a .lines,
#top nav ul .slide-out-widget-area-toggle a .lines:before,
#top nav ul .slide-out-widget-area-toggle a .lines:after {
  background-color: rgba(0, 0, 0, 0.4);
}

body .lines-button {
  line-height: 0;
  font-size: 0;
}

.lines-button {
  transition: 0.3s;
  cursor: pointer;
  top: 9px;
  position: relative;
  user-select: none;
  display: block;
}

.lines-button:hover {
  opacity: 1;
}

.lines {
  display: block;
  width: 1.4rem;
  height: 3px;
  background-color: #ecf0f1;
  transition: 0.3s;
  position: relative;
}

.lines:before,
.lines:after {
  display: block;
  width: 1.4rem;
  height: 3px;
  background: #ecf0f1;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: "";
  -webkit-transform-origin: 0.142rem center;
  transform-origin: 0.142rem center;
}

.lines:before {
  top: 6px;
}

.lines:after {
  top: -6px;
}

.lines-button.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}

.lines-button.arrow.close .lines:before,
.lines-button.arrow.close .lines:after {
  top: 0;
  width: 1.11111rem;
}

#header-outer.transparent
  #top
  nav
  ul
  .slide-out-widget-area-toggle
  a
  .lines-button
  .lines,
#header-outer #top nav ul .slide-out-widget-area-toggle a .lines-button .lines,
#footer-outer[data-using-bg-img="true"] #copyright {
  background-color: transparent !important;
}

.slide-out-widget-area-toggle .lines-button.close .lines:before {
  -webkit-transform: translateY(-6px) rotateZ(-45deg);
  transform: translateY(-6px) rotateZ(-45deg);
}

.slide-out-widget-area-toggle .lines-button.close .lines:after {
  -webkit-transform: translateY(6px) rotateZ(45deg);
  transform: translateY(6px) rotateZ(45deg);
}

.slide-out-widget-area-toggle .lines-button:after {
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  width: 1.4rem;
  height: 2px;
  transition: transform 0.45s ease, opacity 0.2s ease,
    background-color 0.2s linear;
  -webkit-transition: -webkit-transform 0.45s ease, opacity 0.2s ease,
    background-color 0.2s ease;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}

.slide-out-widget-area-toggle.mobile-icon .lines-button.x2 .lines:before,
.slide-out-widget-area-toggle.mobile-icon .lines-button.x2 .lines:after,
.slide-out-widget-area-toggle.mobile-icon .lines-button:after {
  background-color: #999;
}

body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  .slide-out-widget-area-toggle.mobile-icon
  .lines:before {
  top: 6px;
}

body #header-outer .lines-button {
  top: 9px;
}

.slide-out-widget-area-toggle.mobile-icon .lines-button:after {
  top: 0 !important;
}

#header-outer
  .slide-out-widget-area-toggle.mobile-icon
  .lines-button.close
  .lines:before {
  -webkit-transform: translateY(-6px) rotateZ(-45deg);
  transform: translateY(-6px) rotateZ(-45deg);
}

#header-outer
  .slide-out-widget-area-toggle.mobile-icon
  .lines-button.close
  .lines:after {
  -webkit-transform: translateY(6px) rotateZ(45deg);
  transform: translateY(6px) rotateZ(45deg);
}

.slide-out-widget-area-toggle .lines-button.x2 .lines:before,
.slide-out-widget-area-toggle .lines-button.x2 .lines:after {
  transition: -webkit-transform 0.45s ease, background-color 0.2s ease,
    opacity 0.2s ease;
  transition: transform 0.45s ease, background-color 0.2s ease,
    opacity 0.2s ease;
}

.slide-out-widget-area-toggle.mobile-icon .lines {
  background-color: transparent;
}

.slide-out-widget-area-toggle.mobile-icon .lines-button:after,
.slide-out-widget-area-toggle.mobile-icon .lines:before,
.slide-out-widget-area-toggle.mobile-icon .lines:after {
  height: 2px !important;
  width: 22px !important;
}

body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  .slide-out-widget-area-toggle:not([data-custom-color="true"]):not(
    .mobile-icon
  )
  a:not(.using-label)
  > span {
  height: auto;
}

body[data-header-search="false"].material
  #header-outer[data-has-menu="false"][data-cart="false"]
  .slide-out-widget-area-toggle:not([data-custom-color="true"]):not(
    .mobile-icon
  )
  a:not(.using-label)
  > span {
  height: 22px;
}

body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  .slide-out-widget-area-toggle:not([data-custom-color="true"]):not(
    .mobile-icon
  )
  a:not(.using-label)
  .lines-button:after {
  height: 3px;
  top: 0;
  width: 2rem;
  border-radius: 2px;
}

body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  .slide-out-widget-area-toggle:not([data-custom-color="true"]):not(
    .mobile-icon
  )
  a:not(.using-label)
  .lines,
body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  .slide-out-widget-area-toggle:not([data-custom-color="true"]):not(
    .mobile-icon
  )
  a:not(.using-label)
  .lines:before,
body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  .slide-out-widget-area-toggle:not([data-custom-color="true"]):not(
    .mobile-icon
  )
  a:not(.using-label)
  .lines:after {
  height: 3px;
  width: 2rem;
  border-radius: 2px;
}

body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  .slide-out-widget-area-toggle:not([data-custom-color="true"]):not(
    .mobile-icon
  )
  a:not(.using-label)
  .lines:before {
  top: 9px;
}

body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  .slide-out-widget-area-toggle:not([data-custom-color="true"]):not(
    .mobile-icon
  )
  a:not(.using-label)
  .close
  .lines:before {
  top: 10px;
}

body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  .slide-out-widget-area-toggle:not([data-custom-color="true"]):not(
    .mobile-icon
  )
  a:not(.using-label)
  .lines-button.close
  .lines:before {
  -webkit-transform: translateY(-9px) rotateZ(-45deg);
  transform: translateY(-9px) rotateZ(-45deg);
}

body[data-header-search="false"]
  #header-outer[data-has-menu="false"][data-cart="false"]
  .slide-out-widget-area-toggle:not([data-custom-color="true"]):not(
    .mobile-icon
  )
  a:not(.using-label)
  .lines-button.close
  .lines:after {
  -webkit-transform: translateY(10px) rotateZ(45deg);
  transform: translateY(10px) rotateZ(45deg);
}

.slide-out-widget-area-toggle .lines-button.close:after {
  transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
}

.lines-button.x2 .lines {
  transition: background 0.2s ease, opacity 0.2s ease;
}

.lines-button.x2 .lines:before,
.lines-button.x2 .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: top 0.4s 0.45s ease, -webkit-transform 0.3s ease,
    background-color 0.2s ease, opacity 0.2s ease;
  transition: top 0.4s 0.45s ease, transform 0.3s ease,
    background-color 0.2s ease, opacity 0.2s ease;
}

.slide-out-widget-area-toggle a > span {
  transition: -webkit-transform 0.33s 0.3s ease-in;
  transition: transform 0.33s 0.3s ease-in;
  -webkit-transform-origin: center;
  transform-origin: center;
  display: block;
  height: 21px;
}

.slide-out-widget-area-toggle.mobile-icon a > span {
  height: 20px;
}

.slide-out-widget-area-toggle .closed > span {
  transition: -webkit-transform 0.33s 0s ease;
  transition: transform 0.33s 0s ease;
}

#footer-outer #footer-widgets .col ul li {
  padding: 8px 0;
  list-style: none;
  margin-bottom: 0;
  border-bottom: 1px solid #444;
}

#footer-outer #footer-widgets .col ul li:last-child {
  margin-bottom: 0;
}

#footer-outer .widget.widget_nav_menu li a,
#footer-outer #footer-widgets .col ul ul li:last-child {
  border-bottom: 0 !important;
}

#footer-outer #footer-widgets .col p {
  padding-bottom: 20px;
}

#footer-outer #footer-widgets .col p:last-child {
  padding-bottom: 0;
}

#footer-outer #footer-widgets .col input[type="text"],
#footer-outer #footer-widgets .col input[type="email"] {
  padding: 10px;
  width: 100%;
}

body[data-form-style="minimal"]
  #footer-outer
  #footer-widgets
  .col
  input[type="text"] {
  color: #fff;
}

body:not([data-form-style="minimal"])
  #footer-outer
  #footer-widgets
  .col
  input[type="text"]:focus,
body:not([data-form-style="minimal"])
  #footer-outer
  #footer-widgets
  .col
  input[type="email"]:focus {
  background-color: #fff;
}

#footer-outer #footer-widgets .col input[type="submit"] {
  background-color: #000;
  opacity: 0.9;
  transition: opacity 0.2s linear 0s;
  -webkit-transition: opacity 0.2s linear 0s;
}

#footer-outer #footer-widgets .col input[type="submit"]:hover {
  opacity: 1;
}

#footer-outer #footer-widgets .col ul li:first-child > a,
#footer-outer #footer-widgets .col ul li:first-child {
  padding-top: 0 !important;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="date"] {
  padding: 10px;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  line-height: 24px;
  color: #555;
  background-color: #f1f1f1;
  border: none;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

input:focus,
select:focus {
  outline: 0;
}

input[type="submit"],
button[type="submit"],
input[type="button"] {
  background-color: #333;
  padding: 7px 11px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.45s cubic-bezier(0.25, 1, 0.33, 1);
  -webkit-transition: all 0.45s cubic-bezier(0.25, 1, 0.33, 1);
  width: auto;
  font-family: open sans;
  font-weight: 600;
  font-size: 14px;
  border-radius: 2px;
}

input[type="submit"]:hover,
button[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #000;
}

body[data-form-submit="regular"] input[type="submit"]:hover,
body[data-form-submit="regular"] button[type="submit"]:hover {
  opacity: 0.85;
}

select {
  padding: 10px;
  width: 100%;
  border: none;
  font-family: open sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #555;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

@keyframes fadebottom {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  25% {
    opacity: 0;
    transform: translateY(20px);
  }

  30% {
    opacity: 0;
    transform: translateY(0px);
  }

  45% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-webkit-keyframes fadebottom {
  0% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }

  25% {
    opacity: 0;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
  }

  30% {
    opacity: 0;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }

  45% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}

@font-face {
  font-family: icomoon;
  src: url(fonts/icomoon.eot?v=1.1);
  src: url(fonts/icomoon.eot?#iefix&v=1.1) format("embedded-opentype"),
    url(fonts/icomoon.woff?v=1.1) format("woff"),
    url(fonts/icomoon.ttf?v=1.1) format("truetype"),
    url(fonts/icomoon.svg#icomoon?v=1.1) format("svg");
  font-weight: 400;
  font-display: block;
  font-style: normal;
}

body .lines,
body .lines:before,
body .lines:after {
  height: 2px;
}


#top nav ul #search-btn a span {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.48);
}

body #search-outer #search #close a span {
  font-size: 20px;
}
